.rodape__container{
    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap; */

    /* Shorthand element below */
    flex-flow: column wrap;
}

@media screen and (min-width: 839px){
    .rodape__container{
        justify-content: space-between;
    }
}

@media screen and (min-width: 1023px) {
    .rodape__container{
        justify-content: flex-start;
        align-items: flex-end;
        padding-right: 40px;
        
    }
}